In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data/stud_math.xls', sep=',')
data.sample(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
64,GP,F,15,U,LE3,T,4.0,3.0,services,services,...,-6.0,yes,yes,yes,4.0,4.0,4.0,2.0,0.0,50.0
303,GP,F,17,U,GT3,T,3.0,2.0,health,NaN,...,-12.0,yes,yes,no,5.0,2.0,2.0,5.0,0.0,90.0
59,GP,F,16,U,GT3,T,4.0,2.0,NaN,NaN,...,-6.0,yes,yes,no,4.0,2.0,3.0,5.0,2.0,80.0
364,MS,F,17,R,GT3,NaN,1.0,2.0,other,services,...,-6.0,yes,no,no,3.0,2.0,2.0,3.0,0.0,60.0
69,GP,F,15,R,LE3,T,3.0,1.0,other,other,...,-12.0,yes,yes,no,4.0,4.0,2.0,3.0,12.0,80.0